/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************************************************/
*, *:before, *:after {
    box-sizing: border-box;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
    /* padding-left: 12px;
    padding-right: 12px; */
   }

@media (max-width:1295px) {
    .container{
        padding-left: 12px;
        padding-right: 12px;
    }
}


.header{
    background: #FFF;
    max-width: 1296px;
    height: 96px;
    display: flex;
    margin: 0 auto;
    /* color: #FFFFFF; */
    border-bottom: 1px solid #F1F1F1 ;
    /* padding: 32px auto; */
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    top: 0px;
    width: 100%;
    /* justify-content: center; */
}
@media(max-width:992px){
    .header{
        justify-content: space-between;
    }
   
}
.logo{
    align-content: center;
    margin-right: 318px;
}

@media(max-width:992px){
    .logo {
      margin-right: 0px;
    }
   
  }
.logo img{
    width: 100%;
}
.frame1{
    margin: 0 auto;
    align-content: center;
}
.frame1ul
{
    /* justify-content: center; */
    display: flex;
    gap: 40px;
}
.frame1ul a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding: 4px 8px;
    position: relative;
}

.frame1ul .menu a::before,
.frame1ul .menu a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #919191;
  opacity: 0;
  -webkit-box-reflect: below 16px;
}

.frame1ul .menu a::before {
    top: 0;
    left: 0;
    border-right: none;
    border-bottom: none;
  }

.frame1ul .menu a::after {
    top: 0;
    right: 0;
    border-left: none;
    border-bottom: none;
  }

.frame1ul .menu a:hover::before,
.frame1ul .menu a:hover::after {
    opacity: 1;
  }


/*****/
  /*在pc版隱藏起來*/
  .menu-btn {
    display: none;
    cursor: pointer;
  }
  .menu-btn .menu-icon {
    display: none;
  }
  .menu-control:checked + .menu-btn .open {
    display: none;
  }
  .menu-control:checked + .menu-btn .close {
    display: inline;
  }
  .menu-control:not(:checked) + .menu-btn .open {
    display: inline;
  }
  .menu-control:not(:checked) + .menu-btn .close {
    display: none;
  }
  .menu-control {
    display: none;
  }
  @media (max-width: 992px) {
    .menu-btn{
      display: block;
    }
    .frame1ul {
      display: none;
    }

    .menu-control:checked ~ .frame1ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }


/********************* header end********************************************/

.title{
    padding-top: 60px;
    background-color: #FAFAFA;
}
.frame2{
    display: flex;
    justify-content: center;
    padding-top: 80px;
}
.frame2Text p{
    position: relative;
}
.mark{
    position: absolute;
    bottom: 0px;
    right: 90px;

}
.frame2Text{
    width: 670px;
    font-size: 24px;
}
.frame2Text p{
    margin: 8px auto;
    text-align: center;

}
.quote-right{
    float: right;
}
.frame2BC
{
    padding-top: 24px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.frame2BC p
{
    font-size: 16px;
    line-height: 24px;
    color:#3B3B3B;
    ;
}
.frame2B{
    text-align: center;
    width: 298px;
    height: 84px;
}
.frame2C
{
    text-align: center;
    margin-left: 24px;
    /* padding-left: 24px; */
    width: 298px;
    height: 84px;
}
.double-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    gap: 40px;
  }

.column-item{
  width: 48%;
}

@media(max-width: 992px)
{
    .double-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 992px;
    }
    .column-item{
        width: 98%;
    }

}

@media(max-width:767px)
{
    .double-column{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .column-item{
        width: 98%;
    }
}
@media(max-width:464px)
{
    .double-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    .column-item{
        width: 98%;
    }
    .tag li{
        padding: 6px 14px;
        border-radius: 4px;
        line-height: 30px;
    }
}

.frame2BC-gray{
    color: #5B5B5B;
}

/********************** title end ***********************************/

.frame-order img{
    width: 100%;
    border-radius: 8px;
    /* width: 636px;
    height: 400px; */
    border: 1px solid #F1F1F1;
}

.frame-order h2{
    font-size: 28px;
    font-weight:bolder;
    margin: 10px 0px 10px 10px;
}
.frame-order p{
    font-size: 16px;
    color: #919191;
    margin-bottom: 10px;
    margin-left: 10px;
}

.tag li{
    font-size: 16px;
    display: inline;
    background-color: #F1F1F1;
    padding: 6px 14px;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    margin-right:16px;
    margin-top:24px;
}


.frame-num ul{
    padding-top: 72px;
    display: flex;
    justify-content: center;
}
.frame-num li{
    font-size: 24px;
    display: inline;
    text-align: center;
    padding: 2px 13px;

}
.num1{
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 4px;
}

/************************ content end *********************************/

@media (max-width:426px)
{
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer{
    background-image: url("../img/footer-bg-lg.png");
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
}
.frame-logo{
    padding:119px 0px;

}
.frame-logo img{
    width: 120px;
    height: 54px;
}
.frame-logo p{
    font-size: 20px;
    color: #919191;
}

.frame-logo-text{
    padding: 24px 0px;
}
.frame-logo-text p{
    font-size: 20px;
    color: #3B3B3B;
    line-height: 30px;
}

.frame-list{
    align-content: center;
    /* padding: 80px 0px 80px 314px; */
}

.list{
    display: flex;
    margin-bottom: 24px;
    background-color: #000000;
    border-radius: 8px;
}
.list span{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-size: 20px;
    color:#FFFFFF;
    padding: 8px 24px;

}
.media{
    padding: 8px, 24px;
    display: flex;
    border: 1px solid #C1C1C1;
    border-radius: 8px;
    margin-bottom: 24px;
}
.media span{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding: 8px 24px;
}